
<div class="card mt-3 mb-3">
	<div class="card-body">
		<form (ngSubmit)="onSubmit()">
			<div class="input-group input-group-sm mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-sm">Add your log</span>
				</div>
				<input type="text" class="form-control" aria-label="Add your log"  name="text" [(ngModel)]="text" aria-describedby="inputGroup-sizing-sm">
			</div>
			<button type="submit" class="btn btn-outline-success mr-1" [disabled]=!this.text>Add log</button>
			<button type="button" class="btn btn-outline-warning" [hidden]=!this.text (click)="clearState()">Clear</button>
		</form>
	</div>
</div>